
{% extends "blog/base.html" %} 
{% block content %}
<main class="content">
    <div class="breadcrumbs">
        <div class="container">
            <a href="{% url 'home' %}">Home</a> &rarr;
            <a href="{% url 'contact' %}">Contact</a>
        </div>
    </div>

    <div class="page-content">

        <div class="fullwidth-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h1 class="wow fadeInLeft">Addresss</h1>
                        <address class="wow fadeInLeft">
                            <p>Essex Group</p>
                            <p>4235 Poplar Street,  Murang'a, CA 90220</p>
                            <p>Phone: +254 07 96 509 538  <br>info@essexgroup.com</p>
                        </address>
                    </div>
                    <div class="col-md-9">
                        <h1 class="wow fadeInRight">Contact Form</h1>
                        <form action="#">
                            <div class="row">
                                <div class="col-md-4">
                                    <p class="wow fadeInRight"><input type="text" name="name" placeholder="Your name..."></p>
                                    <p class="wow fadeInRight"><input type="email" name="email"  placeholder="Email..."></p>
                                    <p class="wow fadeInRight"><input type="text" name="subject" placeholder="Subject..."></p>
                                </div>
                                <div class="col-md-8">
                                    <p class="wow fadeInRight"><textarea name="message" id=""></textarea></p>
                                    <input type="submit" class="button pull-right wow fadeInRight" value="Send Messages">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div> <!-- .inner-content -->
</main> <!-- .content -->
{% endblock %}