{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"> This awesome blog is made by the courtsey of Developer Ben, follow us  to learn more..!</p>
        <a href="{% url 'about' %}"
           class="btn btn-success">Know more!</a>
    </div>
</div>
</div>

{% endblock sidebar %}