{% extends "blog/base.html" %}

{% block content %}      

{% load crispy_forms_tags %}
<div class="breadcrumbs">
  <div class="container">
      <a href="{% url 'home' %}">Home</a> &rarr;
      <a href="{% url 'login' %}">Signin</a>
  </div>
</div>
<!--Login--> 
<div class="container py-5">
  <h1>Login</h1>
  <form method="POST">
    {% csrf_token %}
    {{ login_form|crispy }}
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
  <p class="text-center">Don't have an account? <a href="{% url 'register' %}">Create an account</a>.</p>
</div>

{% endblock %}